.form {
  &-action {
    width: 50%;
    margin-left: auto;
    padding: 4rem;
    box-shadow: 0 5px 20px #0000001a;
    border-radius: 2rem;
  }
  &-action__heading {
    font-size: 3rem;
    color: #232323;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
  &-wrapper {
    display: flex;
    align-items: center;
    gap: 0 5rem;
    margin-bottom: 2.5rem;
  }
  .form-group {
    width: 100%;
    position: relative;
  }
  &-input {
    width: 100%;
    border: 1px solid #dedede;
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: #5e6d77;
    &:focus {
      outline: none;
    }
    &:focus ~ .form-label {
      top: -1rem;
      transform: translateY(-50%);
    }
  }
  &-label {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    color: #5e6d77;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s linear;
  }
  &-area {
    resize: vertical;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #5e6d77;
    border: 1px solid #dedede;
    border-radius: 1rem;
    outline: none;
    height: 15rem;
    &:focus ~ .form-label {
      top: -1rem;
      transform: translateY(-50%);
    }
  }
  &-submit {
    display: block;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    background-color: $color-hover;
    border: none;
    border-radius: 5rem;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s ease;
    &:hover {
      background-color: $color-hover;
      opacity: 0.8;
    }
  }
  // Responsive
  @include maxWidth(1023.98px) {
    &-body {
      padding: 1rem;
    }
    &-action {
      width: 100%;
    }
  }
  @include maxWidth(767.98px) {
    &-action {
      width: 100%;
    }
    &-area,
    &-input {
      width: 100%;
    }
    &-label {
      font-size: 1.4rem;
    }
    &-submit {
      width: 100%;
    }
    &-action {
      padding: 2rem;
    }
  }
}
