.hero {
  #gallery-carousel {
    .list {
      position: relative;
      width: 100%;
      transition: transform 0.5s ease-in-out;
    }
    .item {
      position: absolute;
      width: 100%;
      height: 60vh;
      width: inherit;
      left: 0;
      top: 0;
    }
    .item img {
      width: 100vw;
      height: 60vh;
      object-fit: cover;
      display: block;
    }
    .btn {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 1000;
    }

    .btn-left {
      left: 10px;
    }

    .btn-right {
      right: 10px;
    }

    .btn i {
      font-size: 50px;
      color: $color-hover;
    }

    /* Dynamic Class */
    .hidden {
      display: none;
    }
  }
  @include maxWidth(767.98px) {
    #gallery-carousel {
      .item img {
        height: 70%;
      }
    }
  }
}
*::-webkit-scrollbar {
  display: none;
}
