* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-content {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
