html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 2rem;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar-list {
  display: flex;
  align-items: center;
  gap: 0 3rem;
}
.header .navbar-item {
  position: relative;
}
.header .navbar-item:hover .subnav {
  opacity: 1;
  visibility: visible;
}
.header .navbar-item__link {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem;
  color: #000;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.header .navbar-item__link:hover {
  color: #3b71fe;
}
.header .navbar .subnav {
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  left: 0;
  top: calc(100% + 36px);
  border-radius: 1rem;
  padding: 1rem;
  min-width: 12rem;
  transition: 0.25s all linear;
  opacity: 0;
  visibility: visible;
  z-index: 10000;
}
.header .navbar .subnav-item__link {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  color: #000;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease;
}
.header .navbar .subnav-item__link:hover {
  color: #3b71fe;
}
.header .navbar .subnav::before {
  content: "";
  width: 100%;
  height: 3rem;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: -3rem;
  z-index: 1;
  cursor: pointer;
}
.header .navbar-menu {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  background-color: #3b71fe;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: none;
  transition: all 0.25s linear;
}
.header .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}
.header .subnav-mobile {
  display: none;
}
@media only screen and (max-width: 1023.98px) {
  .header .navbar-menu {
    display: flex;
  }
  .header .navbar-list {
    position: fixed;
    width: 32rem;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    display: block;
    padding: 2rem;
    transform: translateX(-100%);
    transition: all ease-in-out 0.3s;
    z-index: 5;
  }
  .header .navbar-list.active {
    transform: translateX(0%);
  }
  .header .navbar-item {
    padding: 2rem 2rem 2rem 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
  }
  .header .subnav {
    display: none;
  }
  .header .subnav-mobile {
    padding: 0 2rem;
  }
  .header .subnav-mobile.is-actived {
    display: block;
  }
  .header .subnav-mobile .subnav-item {
    width: 100%;
  }
  .header .subnav-mobile .subnav-item__link {
    border-bottom: 1px solid #ccc;
    font-weight: 500;
  }
}
@media only screen and (max-width: 767.98px) {
  .header .navbar-list {
    width: 26rem;
  }
}

.hero {
  height: 46rem;
}
.hero-content {
  text-align: center;
}
.hero-content__heading {
  font-size: 6.4rem;
  color: #fff;
  font-weight: bold;
}
.hero-conent__desc {
  font-size: 1.8rem;
  color: #fff;
  margin: 1rem 0 3rem;
}
.hero-search {
  background-color: #fff;
  border-radius: 70px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.hero .destination-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.hero .destination-item {
  display: flex;
  align-items: center;
  gap: 0 2.5rem;
}
.hero .detination-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero .destination-title {
  color: #232323;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.hero .main-content.main-content--hero {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .destination-wrapper {
  display: flex;
  gap: 0 12rem;
}
.hero .destination-ques,
.hero .destination-date {
  color: #727272;
  font-size: 1.4rem;
}
.hero-btn {
  background-color: #3b71fe;
  border-radius: 7rem;
  color: #fff;
  padding: 15px 35px;
  font-weight: 500;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  min-width: 12rem;
  transition: all 0.25s linear;
}
.hero-btn:hover {
  background-color: rgba(59, 113, 254, 0.8);
}
@media only screen and (max-width: 1023.98px) {
  .hero-content__heading {
    font-size: 4.2rem;
  }
  .hero-search {
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .hero .main-content.main-content--hero {
    top: 50%;
    z-index: 0;
  }
  .hero-btn {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    height: 8.2rem;
  }
  .hero-search {
    border-radius: 2rem;
  }
  .hero .destination-search {
    display: block;
    padding: 0;
  }
  .hero .destination-item {
    border-bottom: 1px solid #dedede;
    height: 8.2rem;
    padding: 2rem;
  }
  .hero .destination-wrapper {
    display: flex;
    align-items: center;
    gap: 0;
  }
  .hero .destination-wrapper > * {
    width: 50%;
  }
}

.top {
  padding: 8rem 0;
}
.top-tour__heading {
  font-size: 3.6rem;
  color: #232323;
  font-weight: bold;
  text-align: center;
}
.top-images {
  position: relative;
}
.top-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  height: 34rem;
  align-content: center;
}
.top-item {
  width: inherit;
  height: inherit;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
}
.top-item:hover .top-link img {
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
}
.top-link img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}
.top-view {
  font-size: 1.8rem;
  color: #232323;
  font-weight: bold;
  display: block;
  margin: 1.6rem 0 0.5rem;
}
.top-quantity {
  font-size: 1.6rem;
  color: #727272;
  line-height: 2.6rem;
}
.top-prev, .top-next {
  width: 4rem;
  height: 4rem;
  box-shadow: 0 7px 29px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-size: 1.6rem;
  color: #727272;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}
.top-prev {
  left: -5rem;
  top: 50%;
  transform: translateY(-50%);
}
.top-next {
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
}
.top-wrapper__item {
  text-align: center;
  width: 20rem;
  height: 20rem;
}
@media only screen and (max-width: 1023.98px) {
  .top {
    margin-top: 8rem;
  }
  .top-tour__heading {
    font-size: 3.2rem;
  }
  .top-prev, .top-next {
    display: none;
  }
  .top-wrapper {
    grid-auto-flow: column;
    grid-auto-columns: 60%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .top-wrapper::-webkit-scrollbar {
    display: none;
  }
  .top-item {
    scroll-snap-align: start;
  }
}
@media only screen and (max-width: 767.98px) {
  .top {
    padding: 5rem 0;
  }
}

.popular {
  padding: 3rem 0;
}
.popular-list {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}
.popular-item {
  width: 25%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784313725), 0 4px 12px rgba(0, 0, 0, 0.0509803922);
  transition: all 0.3s ease;
}
.popular-item:hover {
  transform: translateY(-5px);
}
.popular-images {
  position: relative;
  height: 22rem;
  cursor: pointer;
  border-radius: 2rem 2rem 0 0;
  z-index: 10;
}
.popular-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2rem 2rem 0 0;
  transition: all 0.3s ease-in-out;
}
.popular-thumb {
  display: flex;
}
.popular-features {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 4px 8px;
  background-color: #3b71fe;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 6px;
  font-weight: bold;
}
.popular-thumb .fa-heart {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #99acb7;
}
.popular-thumb img {
  position: absolute;
  right: 2rem;
  bottom: 0;
  transform: translateY(50%);
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.popular-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
}
.popular-title {
  font-size: 1.4rem;
  color: #727272;
  display: block;
}
.popular-heading {
  font-size: 1.8rem;
  color: #232323;
  font-weight: bold;
  display: block;
  margin: 0.8rem 0 1rem;
}
.popular-link {
  color: inherit;
}
.popular-rate {
  display: flex;
  align-items: flex-start;
  gap: 0 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.popular-rate .fa-star {
  color: #ffb21d;
}
.popular-reviews {
  font-size: 1.4rem;
  color: #727272;
}
.popular-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid #dedede;
}
.popular-price p {
  font-size: 1.4rem;
  color: #727272;
}
.popular-price strong {
  color: #232323;
  font-weight: bold;
}
.popular-second {
  color: #727272;
}
@media only screen and (max-width: 1023.98px) {
  .popular .section-top {
    padding: 2rem;
  }
  .popular-list {
    flex-wrap: wrap;
    margin-left: 3rem;
  }
  .popular-item {
    width: calc(50% - 1rem);
    margin-left: -1rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .popular .section-top__heading {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .popular-list {
    display: block;
    margin-left: 0;
    padding: 2rem;
  }
  .popular-item {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
  .popular .section-icons {
    display: none;
  }
}

.stories {
  background-color: #f7f8fa;
  padding: 3rem 0;
}
.stories-body {
  margin-top: 3rem;
}
.stories-cards {
  display: flex;
  align-items: center;
  margin-left: -2rem;
}
.stories-card {
  width: calc(25% - 2rem);
  margin-left: 2rem;
  transition: all 0.3s ease-in;
}
.stories-card:hover {
  transform: translateY(-5px);
}
.stories-images {
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}
.stories-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem 2rem 0 0;
  cursor: pointer;
}
.stories-img:hover {
  transform: scale(1.1);
}
.stories-content {
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.stories-heading {
  font-size: 1.8rem;
  color: #232323;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
.stories-heading a {
  color: inherit;
}
.stories-desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.625;
}
@media only screen and (max-width: 1023.98px) {
  .stories .section-top {
    padding: 2rem;
  }
  .stories-cards {
    flex-wrap: wrap;
    margin-left: -1.5rem;
    padding: 2rem;
  }
  .stories-card {
    width: calc(50% - 1.5rem);
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .stories-body {
    margin-top: 1.5rem;
  }
  .stories .section-top__heading {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
  }
  .stories .section-icons {
    display: none;
  }
  .stories-cards {
    display: block;
    margin-left: 0;
  }
  .stories-card {
    width: 100%;
    margin-left: 0;
  }
}

.offers {
  padding: 5rem 0;
  background-color: #fff;
}
.offers-main {
  display: flex;
}
.offers-images, .offers-content {
  width: 50%;
}
.offers-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2rem 0 0 2rem;
}
.offers-content {
  border: 1px solid #dedede;
  border-left: none;
  border-radius: 0 2rem 2rem 0;
  background-color: #fcfcfc;
  text-align: center;
  padding: 6rem;
}
.offers-content__heading {
  font-size: 3.6rem;
  color: #232323;
  font-weight: bold;
}
.offers-content__desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.625;
  margin: 2rem 0 3rem;
}
.offers-form__group {
  position: relative;
}
.offers-form__group-input {
  display: block;
  width: 100%;
  height: 60px;
  border: 1px solid #dedede;
  border-radius: 80px;
  font-size: 16px;
  font-weight: 400;
  color: #83929d;
  padding-left: 2rem;
  margin-right: 1rem;
  font-family: inherit;
}
.offers-form__group-input:focus {
  outline: none;
}
.offers-form__group-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3b71fe;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  border-radius: 8rem;
  width: max-content;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  padding: 15px 35px;
  transition: all 0.3s ease;
}
.offers-form__group-btn:hover {
  background-color: rgba(59, 113, 254, 0.7);
}
@media only screen and (max-width: 1023.98px) {
  .offers-content__heading {
    font-size: 2.8rem;
  }
  .offers-main {
    flex-direction: column;
    padding: 0 2rem;
  }
  .offers-images {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
  }
  .offers-img {
    border-radius: 2rem 2rem 0 0;
  }
  .offers-content {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    padding: 4rem 0;
    border-width: 0 1px 1px 1px;
    border-color: #dedede;
  }
  .offers-form__group-btn {
    right: 1rem;
  }
  .offers-form__group-input {
    width: 97%;
  }
}
@media only screen and (max-width: 767.98px) {
  .offers-form__group-input {
    width: 93%;
  }
}

.about-top {
  width: 90%;
  margin: 0 auto;
  height: 47rem;
}
.about-banner {
  position: relative;
  width: 100%;
  background-image: url("../../../assets/images/bg-video.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.about-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 7.8rem;
  height: 7.8rem;
  color: #3b71fe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about-play:hover {
  background-color: #3b71fe;
  color: #fff;
}
.about-banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-content {
  margin: 4rem;
}
.about-group {
  margin-bottom: 3rem;
}
.about-group:last-of-type {
  margin-bottom: 0;
}
.about-group__heading {
  font-size: 3rem;
  font-weight: bold;
  color: #232323;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}
.about-group__heading--small {
  font-size: 1.8rem;
}
.about-group__desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.4;
}
@media only screen and (max-width: 1023.98px) {
  .about {
    padding: 1rem;
  }
  .about-content {
    margin-top: 3rem;
  }
  .about-group {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .about-content {
    margin: 2.5rem;
  }
}

.clients {
  background-color: #f7f8fa;
  padding: 5rem 2rem;
}
.clients .section-top {
  margin-bottom: 3rem;
}
.clients-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.3333333333% - 2rem), 1fr));
  grid-gap: 0 2rem;
}
.clients-item {
  background-color: #fff;
  border-radius: 2.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}
.clients-content {
  padding: 4.8rem;
}
.clients-content__desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.4;
  margin-bottom: 3rem;
}
.clients-stars {
  display: inline-flex;
}
.clients-stars i {
  color: #ffb21d;
}
.clients-content__author {
  margin: 1rem 0;
  color: #3d3d3d;
  font-weight: bold;
  font-size: 2rem;
}
.clients-content__place {
  font-size: 1.4rem;
  color: #83929d;
}
.clients-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0 1rem;
}
.clients-dot {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.clients-dot.active {
  background-color: #3b71fe;
}
@media only screen and (max-width: 1023.98px) {
  .clients .section-top__heading {
    font-size: 3.2rem;
  }
  .clients-list {
    grid-auto-flow: column;
    grid-template-columns: unset;
    grid-auto-columns: 80%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .clients-list::-webkit-scrollbar {
    display: none;
  }
  .clients-item {
    scroll-snap-align: start;
  }
}
@media only screen and (max-width: 767.98px) {
  .clients {
    padding: 4rem 2rem;
  }
  .clients-list {
    grid-template-columns: repeat(3, 90%);
  }
  .clients-dots {
    display: none;
  }
  .clients .section-icons {
    display: none;
  }
  .clients .section-top {
    text-align: center;
    margin-bottom: 0;
  }
  .clients .section-top__heading {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.members {
  margin: 3rem 0 8rem;
}
.members .section-top {
  text-align: center;
}
.members .section-top__heading {
  width: 100%;
  margin-bottom: 3rem;
}
.members-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
}
.members-item {
  width: calc(25% - 2rem);
  margin-left: 2rem;
}
.members-thumb {
  height: 50rem;
  overflow: hidden;
  border-radius: 2.4rem;
}
.members-thumb:hover .members-thumb__img {
  transform: scale(1.2);
}
.members-thumb__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  cursor: pointer;
}
.members-content {
  padding: 1.5rem 0;
  text-align: center;
}
.members-content__author {
  font-size: 1.8rem;
  color: #232323;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.members-content__career {
  font-size: 1.6rem;
  color: #727272;
}
@media only screen and (max-width: 1023.98px) {
  .members-list {
    margin: 0;
    gap: 0;
    padding: 2rem;
    margin-left: -2rem;
  }
  .members-item {
    width: calc(50% - 2rem);
    margin: 0;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .members-item {
    width: 100%;
  }
}

.path {
  padding: 2rem 0;
  border: 1px solid;
  border-left: 0;
  border-right: 0;
  border-color: #eaeef3;
  margin-bottom: 3rem;
  display: block;
}
.path-list {
  display: flex;
  gap: 0 3rem;
  position: relative;
}
.path-list::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.path-item__link {
  color: #5e6d77;
  font-size: 1.6rem;
}
.path-item__link.active {
  color: #3b71fe;
  font-weight: bold;
}
@media only screen and (max-width: 1023.98px) {
  .path {
    padding: 2rem;
  }
  .path-list::before {
    left: 8%;
  }
}
@media only screen and (max-width: 767.98px) {
  .path-list::before {
    left: 18%;
  }
}

.path.path-detail .path-list {
  position: relative;
}
.path.path-detail .path-list::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1023.98px) {
  .path.path-detail .path-list::after {
    left: 17%;
  }
}
@media only screen and (max-width: 767.98px) {
  .path.path-detail .path-list::after {
    left: 37%;
  }
}

.tour .section-top {
  text-align: center;
}
.tour .section-top__heading {
  width: 100%;
}
.tour-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
}
.tour-item-wrapper {
  width: calc(33.3333333333% - 2rem);
  margin-left: 2rem;
}
.tour-item {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784313725), 0 4px 12px rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 2rem;
}
.tour-thumb {
  height: 100%;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}
.tour-thumb:hover .tour-thumb__img {
  transform: scale(1.1);
}
.tour-thumb__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
}
.tour-content {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
}
.tour-content__heading {
  font-size: 1.8rem;
  color: #232323;
  font-weight: 700;
  display: block;
  margin-top: 8px;
  margin-bottom: 1rem;
}
.tour-content__desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.4;
}
@media only screen and (max-width: 1023.98px) {
  .tour-body {
    padding: 2rem;
  }
  .tour-item-wrapper {
    width: calc(50% - 2rem);
  }
}
@media only screen and (max-width: 768.98px) {
  .tour .section-top__heading {
    margin-bottom: 3rem;
  }
  .tour-item-wrapper {
    width: 100%;
  }
}

.map {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.map iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.form {
  margin: 5rem 0;
}
.form-body {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
}
.form-info {
  width: 50%;
}
.form-info__heading {
  font-size: 3rem;
  color: #232323;
  font-weight: bold;
  line-height: 1.6;
}
.form-info__desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.4;
  margin: 1rem 0 3rem;
}
.form-contact__item {
  display: block;
}
.form-contact__link {
  width: 40%;
  display: flex;
  gap: 0 2rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dedede;
}
.form-contact__link i {
  color: #3b71fe;
}
.form-contact__link span {
  color: #232323;
}
@media only screen and (max-width: 1023.98px) {
  .form-body {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-info {
    width: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
  .form-contact__link {
    width: 80%;
  }
}

.detail {
  margin-top: 5rem;
}
.detail-wrapper {
  display: flex;
}
.detail-content {
  width: 65%;
}
.detail-heading {
  font-size: 3rem;
  color: #232323;
  font-weight: bold;
  margin-bottom: 1rem;
}
.detail-info {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.detail-rating {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}
.detail-rating__star i {
  color: #ffb21d;
}
.detail-rating__comment {
  font-size: 1.4rem;
  color: #727272;
}
.detail-place {
  display: block;
  position: relative;
  padding-left: 2rem;
}
.detail-place::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #727272;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  margin-left: -0.5rem;
}
.detail-view {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #eaeef3;
}
.detail-item {
  display: flex;
  width: 25%;
  gap: 0 1.5rem;
}
.detail-icon {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dedede;
  border-radius: 1rem;
}
.detail-context {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.detail-context span {
  font-weight: bold;
}
.detail-context span:last-child {
  font-weight: 300;
}
.detail-about__heading {
  font-size: 3.6rem;
  color: #232323;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.detail-about__desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.6;
}
.detail-highlights {
  margin-top: 3rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #dedede;
}
.detail-highlights__heading, .detail-include__heading, .detail-itinerary__heading, .detail-attribute__heading, .detail-faq__heading, .detail-review__heading {
  font-size: 2.6rem;
  color: #232323;
  font-weight: bold;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.detail-highlights__item {
  position: relative;
  font-size: 1.4rem;
  color: #5e6d77;
  line-height: 1.6;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.detail-highlights__item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #5191fa;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.detail-include__heading {
  text-transform: none;
}
.detail-include__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-include__left-item, .detail-include__right-item {
  margin-bottom: 1.6rem;
}
.detail-include__left-item i, .detail-include__right-item i {
  background: #cef2e5;
  color: #10ac58;
  padding: 5px;
  border-radius: 50%;
  margin-right: 1rem;
}
.detail-include__right-item i {
  background: #fad6d6;
  color: #da3838;
  padding: 5px 8px;
}
.detail-itinerary, .detail-review, .detail-attribute {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: 1px solid #dedede;
}
.detail-itinerary__heading {
  text-transform: none;
}
.detail .sub-questions {
  background-color: #f9f9f9;
  border-radius: 1.6rem;
  border: 1px solid #e7e7e7;
  font-size: 1.8rem;
  font-weight: 700;
  color: #232323;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.detail .sub-timer span {
  display: inline-block;
  width: max-content;
  padding: 8px 16px;
  border-radius: 1rem;
  border: 1px solid #dedede;
  color: #3b71fe;
  background-color: #fff;
  margin-right: 1rem;
}
.detail .sub-questions {
  margin-bottom: 2rem;
}
.detail .sub-questions i {
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  color: #232323;
}
.detail-group {
  margin-bottom: 1.5rem;
}
.detail-attribute__heading {
  text-transform: none;
}
.detail-tags {
  display: flex;
}
.detail-tags__item {
  width: 33.3333333333%;
}
.detail-faq {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: 1px solid #dedede;
}
.detail-faq__heading, .detail-review__heading {
  text-transform: none;
}
.detail-review {
  padding-bottom: 4rem;
}
.detail-box {
  display: flex;
  border: 1px solid #dedede;
  border-radius: 2rem;
  padding: 3rem;
  background-color: #fcfcfc;
  align-items: center;
}
.detail-box__star {
  padding-right: 5rem;
  width: 40%;
  text-align: center;
}
.detail-box__star p i {
  color: #ffb21d;
  font-size: 2.2rem;
}
.detail-box__star p strong {
  font-size: 3rem;
  color: #3b71fe;
  font-weight: 700;
}
.detail-box__star h4 {
  font-size: 2.2rem;
  color: #232323;
  font-weight: bold;
  margin: 8px 0;
}
.detail-box__star span {
  font-size: 1.6rem;
  color: #727272;
}
.detail-box__eval {
  width: 60%;
  padding-left: 5rem;
  border-left: 1px solid #dedede;
}
.detail-box__context {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.detail-box__context label {
  width: 30%;
}
.detail-box__context .separate {
  width: 60%;
  height: 4px;
  border-radius: 1rem;
  background-color: #eee;
  overflow: hidden;
  position: relative;
}
.detail-box__context .separate::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #10ac58;
  position: absolute;
  z-index: 10;
}
.detail-box__context span {
  width: 10%;
  text-align: center;
}
.detail-exp__group {
  padding: 2rem 0;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}
.detail-exp__heading {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}
.detail-exp__avatar {
  width: 6rem;
  height: 6rem;
}
.detail-exp__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.detail-exp__icon {
  margin-left: auto;
}
.detail-exp__icon i {
  color: #3b71fe;
}
.detail-exp__name {
  font-size: 1.6rem;
  color: #232323;
  font-weight: 500;
  margin-bottom: 5px;
}
.detail-exp__date {
  font-size: 1.4rem;
  color: #727272;
}
.detail-exp__star {
  margin: 1rem 0;
  display: flex;
  gap: 0 5px;
}
.detail-exp__star i {
  color: #ffb21d;
}
.detail-exp__title {
  font-size: 1.8rem;
  color: #232323;
  font-weight: bold;
  margin-bottom: 2rem;
}
.detail-exp__desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.4;
}
@media only screen and (max-width: 1023.98px) {
  .detail-content {
    width: 100%;
    padding: 2rem;
  }
  .detail-sidebar {
    display: none;
  }
}
@media only screen and (max-width: 767.98px) {
  .detail-view {
    flex-wrap: wrap;
    gap: 1rem 0;
  }
  .detail-item {
    width: 50%;
  }
  .detail-include__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem 0;
  }
  .detail-box {
    flex-direction: column;
    gap: 1.5rem 0;
  }
  .detail-box__star {
    width: 100%;
    align-self: center;
    padding-right: 0;
  }
  .detail-box__eval {
    width: 100%;
    padding-left: 0;
    border-left: 0;
  }
}

.blog-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 95%;
}
.blog-wrapper {
  width: 65%;
}
.blog-sidebar {
  width: 33%;
}
.blog-post {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784313725), 0 4px 12px rgba(0, 0, 0, 0.0509803922);
  border-radius: 2rem;
  margin-bottom: 4rem;
}
.blog-thumb {
  height: 100%;
}
.blog-thumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
  cursor: pointer;
}
.blog-content {
  padding: 3rem;
}
.blog-tag {
  background-color: rgba(136, 7, 53, 0.0588235294);
  display: inline-block;
  padding: 1rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
}
.blog-tag p {
  color: #880735;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  padding-left: 1.5rem;
}
.blog-tag p::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #880735;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.blog-heading {
  font-size: 2.6rem;
  color: #232323;
  font-weight: bold;
  margin-bottom: 2rem;
}
.blog-desc {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.blog-author {
  display: flex;
  align-items: center;
  gap: 0 1.5rem;
}
.blog-avatar {
  width: 50px;
  height: 50px;
}
.blog-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}
.blog-info {
  display: flex;
  align-items: center;
}
.blog-name {
  position: relative;
  font-size: 1.6rem;
  color: #232323;
  font-weight: 500;
  padding-right: 2rem;
}
.blog-name::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #83929d;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.blog-info span {
  padding-left: 2rem;
  display: inline-block;
  color: #83929d;
  font-size: 1.4rem;
}
.blog-search {
  padding: 3rem;
  border-radius: 2rem;
  background-color: #f7f8fa;
}
.blog-title {
  font-size: 2.2rem;
  color: #232323;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #dedede;
}
.blog-form {
  position: relative;
}
.blog-input {
  display: block;
  width: 90%;
  padding: 1.8rem 3rem;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784313725), 0 4px 12px rgba(0, 0, 0, 0.0509803922);
  border-radius: 8rem;
  font-size: 1.6rem;
  color: #83929d;
  font-weight: 400;
  border: none;
  outline: none;
  font-family: inherit;
}
.blog-label {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #3b71fe;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.blog-popular {
  margin-top: 3rem;
  background-color: #f7f8fa;
  padding: 3rem 2rem;
  border-radius: 2rem;
}
.blog-posts-item {
  display: flex;
  align-items: center;
}
.blog-posts-item:not(:last-child) {
  margin-bottom: 2rem;
}
.blog-img {
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  border-radius: 1rem;
}
.blog-about {
  margin-left: 2rem;
}
.blog-about-title {
  font-size: 1.6rem;
  color: #232323;
  font-weight: 700;
  line-height: 1.4;
  transition: all 0.3s ease;
}
.blog-about-title:hover {
  color: #3b71fe;
}
.blog-about-date {
  font-size: 1.4rem;
  color: #83929d;
}
.blog-category, .blog-tags {
  margin-top: 3rem;
  background-color: #f7f8fa;
  padding: 3rem 2rem;
  border-radius: 2rem;
}
.blog-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1.6rem 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784313725), 0 4px 12px rgba(0, 0, 0, 0.0509803922);
  margin-bottom: 1.2rem;
}
.blog-tag--categories {
  margin-bottom: 0;
}
.blog-tag--categories-blue {
  background-color: rgba(0, 38, 171, 0.06);
}
.blog-tag--categories-blue p {
  color: rgb(0, 38, 171);
}
.blog-tag--categories-blue p:before {
  background-color: rgb(0, 38, 171);
}
.blog-tag--categories-orange {
  background-color: rgba(168, 89, 0, 0.06);
}
.blog-tag--categories-orange p {
  color: rgb(168, 89, 0);
}
.blog-tag--categories-orange p:before {
  background-color: rgb(168, 89, 0);
}
.blog-tag--categories-green {
  background-color: rgba(1, 115, 44, 0.06);
}
.blog-tag--categories-green p {
  color: rgb(1, 115, 44);
}
.blog-tag--categories-green p:before {
  background-color: rgb(1, 115, 44);
}
.blog-tag--categories-last {
  background-color: rgba(0, 0, 0, 0.0588235294);
}
.blog-tag--categories-last p {
  color: rgb(0, 0, 0);
}
.blog-tag--categories-last p:before {
  background-color: rgb(0, 0, 0);
}
.blog-list-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.blog-tag-item {
  width: max-content;
  display: block;
  background-color: #fff;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  color: #232323;
  font-weight: 500;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784313725), 0 4px 12px rgba(0, 0, 0, 0.0509803922);
}
@media only screen and (max-width: 1023.98px) {
  .blog-main {
    flex-direction: column;
    padding: 1rem;
  }
  .blog-wrapper {
    width: 100%;
  }
  .blog-sidebar {
    width: 100%;
  }
  .blog-label {
    right: 3%;
  }
}

.grid {
  padding: 4rem 0;
  background-color: #f7f8fa;
}
.grid .section-top {
  text-align: center;
}
.grid .section-top__heading {
  width: 100%;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30rem 20rem 30rem;
  grid-gap: 2rem;
  grid-template-areas: "h1 h1 h2" "h1 h1 h3" "h4 h5 h6" "h7 h8 h8";
}
.grid-title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 20;
  opacity: 0;
  visibility: visible;
  transition: all 0.3s ease;
}
.grid-item {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.grid-item::before {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
  top: 0;
  z-index: 10;
}
.grid-item:hover::before {
  width: 100%;
}
.grid-item:hover .grid-title {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.grid-item:first-child {
  grid-area: h1;
}
.grid-item:nth-child(2) {
  grid-area: h2;
}
.grid-item:nth-child(3) {
  grid-area: h3;
}
.grid-item:nth-child(4) {
  grid-area: h4;
}
.grid-item:nth-child(5) {
  grid-area: h5;
}
.grid-item:nth-child(6) {
  grid-area: h6;
}
.grid-item:nth-child(7) {
  grid-area: h7;
}
.grid-item:last-child {
  grid-area: h8;
}
.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1023.98px) {
  .grid-layout {
    padding: 2rem;
    grid-template-areas: "h1 h1 h1" "h2 h3 h4" "h5 h6 h7" "h5 h8 h8";
  }
}
@media only screen and (max-width: 767.98px) {
  .grid-layout {
    grid-template-areas: "h1 h1 h1" "h2 h2 h2" "h3 h3 h3" "h4 h4 h4" "h5 h5 h5" "h6 h6 h6" "h7 h7 h7" "h8 h8 h8";
  }
}

.login {
  padding: 5rem 0;
  background-color: #f7f8fa;
}
.login-body {
  display: flex;
  align-items: center;
}
.login-thumb, .login-block {
  width: calc(50% - 2rem);
}
.login-thumb {
  height: 40rem;
  position: relative;
  display: flex;
}
.login-thumb__img {
  border-radius: 2rem;
  cursor: pointer;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.login-thumb__img--last {
  margin-top: 4rem;
  margin-left: 2rem;
}
.login-block {
  margin-left: auto;
}
.login-block__heading {
  font-size: 3.6rem;
  color: #232323;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.login-form {
  background-color: #f7f8fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 60rem;
  text-align: center;
}
.login-group {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
.login-input {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
}
.login-input:focus {
  outline: none;
}
.login-input:focus:not(:placeholder-shown) ~ .login-label span, .login-input:focus ~ .login-label span {
  transform: translateY(-3rem);
}
.login-label {
  position: absolute;
  left: 2rem;
  top: 1rem;
  user-select: none;
  pointer-events: none;
}
.login-label span {
  min-width: 5px;
  display: inline-block;
  color: #999;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1.56);
}
.login-submit {
  display: inline-block;
  padding: 1.5rem 3rem;
  border: 1px solid #3b71fe;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}
.login-submit::before {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: #3b71fe;
  left: 0;
  top: 0;
  z-index: -1;
}
.login-submit:hover {
  color: #fff;
}
.login-submit:hover::before {
  width: 100%;
  transition: all 0.3 linear;
  border-color: none;
}
@media only screen and (max-width: 1023.98px) {
  .login-body {
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 2rem 0;
  }
  .login-block {
    width: 100%;
    margin: 0 auto;
  }
  .login-thumb {
    width: 100%;
  }
  .login-form {
    max-width: unset;
  }
}
@media only screen and (max-width: 767.98px) {
  .login-thumb {
    flex-wrap: wrap;
  }
  .login-thumb__img {
    width: calc(50% - 2rem);
  }
  .login-thumb__img--last {
    margin: 0;
    margin-left: 4rem;
  }
}

.footer {
  padding: 3rem 2rem;
  background-color: #f7f8fa;
}
.footer-row {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dedede;
}
.footer-col {
  width: 25%;
}
.footer-col__heading {
  font-size: 1.8rem;
  color: #232323;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 2rem;
}
.footer-link {
  margin-bottom: 5px;
  padding: 0.5rem 0;
  display: block;
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.625;
}
.footer-link:hover {
  color: #3b71fe;
}
.footer-social {
  display: flex;
  gap: 0 1rem;
}
.footer-social__item {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #3d52a6;
  transition: all 0.3s ease-in-out;
}
.footer-social__item:hover {
  transform: scale(1.1);
}
.footer-social__link i {
  font-size: 1.8rem;
  color: #fff;
}
.footer-social__item:nth-child(2) {
  background-color: #58b1f7;
}
.footer-social__item:nth-child(3) {
  background-color: #d9498c;
}
.footer-social__item:last-child {
  background-color: #f62d3a;
}
.footer .copyright {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #727272;
  text-align: center;
}
@media only screen and (max-width: 1023.98px) {
  .footer-row {
    flex-wrap: wrap;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .footer-social__item {
    flex-shrink: 0;
  }
}

.section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-top__heading {
  font-size: 3.6rem;
  color: #232323;
  font-weight: bold;
  margin-bottom: 5rem;
}
.section-icons {
  display: flex;
  gap: 0 1rem;
}
.section-icon {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  color: #272727;
  transition: all 0.3s ease;
}
.section-icon:hover {
  background-color: #3b71fe;
  color: #fff;
}

.form-action {
  width: 50%;
  margin-left: auto;
  padding: 4rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1019607843);
  border-radius: 2rem;
}
.form-action__heading {
  font-size: 3rem;
  color: #232323;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.form-wrapper {
  display: flex;
  align-items: center;
  gap: 0 5rem;
  margin-bottom: 2.5rem;
}
.form .form-group {
  width: 100%;
  position: relative;
}
.form-input {
  width: 100%;
  border: 1px solid #dedede;
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: #5e6d77;
}
.form-input:focus {
  outline: none;
}
.form-input:focus ~ .form-label {
  top: -1rem;
  transform: translateY(-50%);
}
.form-label {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  color: #5e6d77;
  user-select: none;
  pointer-events: none;
  transition: all 0.3s linear;
}
.form-area {
  resize: vertical;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #5e6d77;
  border: 1px solid #dedede;
  border-radius: 1rem;
  outline: none;
  height: 15rem;
}
.form-area:focus ~ .form-label {
  top: -1rem;
  transform: translateY(-50%);
}
.form-submit {
  display: block;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  background-color: #3b71fe;
  border: none;
  border-radius: 5rem;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s ease;
}
.form-submit:hover {
  background-color: #3b71fe;
  opacity: 0.8;
}
@media only screen and (max-width: 1023.98px) {
  .form-body {
    padding: 1rem;
  }
  .form-action {
    width: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
  .form-action {
    width: 100%;
  }
  .form-area, .form-input {
    width: 100%;
  }
  .form-label {
    font-size: 1.4rem;
  }
  .form-submit {
    width: 100%;
  }
  .form-action {
    padding: 2rem;
  }
}

.slider {
  position: relative;
}

.slider-next,
.slider-prev {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 10;
}

.slider-prev {
  left: -2.5rem;
}

.slider-next {
  right: -2.5rem;
}

.slider-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  z-index: 10;
}

.slider-dot-item {
  width: 2rem;
  height: 2rem;
  background-color: #ccc;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slider-dot-item.dot-active {
  background-color: #3d6ef7;
}

.slider-dot-item + .slider-dot-item {
  margin-left: 2rem;
}

.slider-wrapper {
  width: 100%;
  height: 60rem;
  overflow: hidden;
  position: relative;
}

.slider-main {
  display: flex;
  position: relative;
  transition: transform 0.25s linear;
  height: 100%;
}

.slider-item {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  user-select: none;
}

li {
  list-style: none;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

@media only screen and (max-width: 1023.98px) {
  .slider {
    width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767.98px) {
  .slider-wrapper {
    height: 30rem;
  }
  .slider-next,
  .slider-prev {
    display: none;
  }
}
.detail-sidebar {
  width: 33%;
  position: sticky;
  top: 0;
  border: 1px solid #dedede;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784313725), 0 4px 12px rgba(0, 0, 0, 0.0509803922);
  border-radius: 2rem;
  padding: 2rem;
  height: 100%;
}
.detail-sidebar__heading {
  display: flex;
  justify-content: space-between;
}
.detail-sidebar .form-booking {
  margin-top: 2rem;
  border: 1px solid #dedede;
  border-radius: 2rem;
}
.detail-sidebar .form-booking__group {
  padding: 2rem;
}
.detail-sidebar .form-booking__group:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.detail-sidebar .form-booking__group--person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-sidebar .form-booking__label {
  display: block;
  font-size: 1.6rem;
  color: #232323;
  font-weight: 500;
  margin-bottom: 8px;
}
.detail-sidebar .form-booking__input {
  display: block;
  width: 90%;
  padding: 8px 15px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #727272;
  outline: none;
  font-family: inherit;
}
.detail-sidebar .form-booking__quantity {
  display: flex;
  align-items: center;
  gap: 0 1.5rem;
}
.detail-sidebar .form-booking__quantity strong {
  font-size: 1.6rem;
}
.detail-sidebar .form-booking__decrease, .detail-sidebar .form-booking__increase {
  width: 3.4rem;
  height: 3.4rem;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ccc;
}
.detail-sidebar__footer {
  margin-top: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.detail-sidebar__footer p {
  font-size: 1.8rem;
  color: #232323;
  font-weight: bold;
}
.detail-sidebar__footer .form__price {
  flex-direction: column;
}
.detail-sidebar__footer .form__price strong:first-child {
  color: #b1bac1;
  text-decoration: line-through;
}
.detail-sidebar__footer .form__price strong {
  color: #232323;
  font-size: 1.8rem;
  font-weight: bold;
}
.detail-sidebar__submit {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #3b71fe;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 3rem;
  font-family: inherit;
}

.form__price {
  display: flex;
  align-items: flex-end;
  gap: 0 1.5rem;
}

.form__price p {
  font-size: 1.4rem;
  color: #727272;
}

.form__sale {
  display: flex;
  flex-direction: column;
}

.form__sale strong {
  color: #232323;
  font-size: 1.8rem;
  font-weight: bold;
}

.form__sale strong:first-child {
  color: #b1bac1;
  text-decoration: line-through;
}

.gallery {
  padding: 4rem 0;
}
.gallery .section-top {
  text-align: center;
}
.gallery .section-top__heading {
  width: 100%;
}
.gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35rem 10rem 35rem;
  grid-gap: 2rem;
}
.gallery-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 2rem;
}
.gallery-image:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
.gallery-image:nth-child(2), .gallery-image:nth-child(3) {
  grid-row: 1/3;
}
.gallery-image:nth-child(4), .gallery-image:nth-child(5) {
  grid-row: 2/4;
}
.gallery-image:nth-child(6) {
  grid-column: 3/5;
}
.gallery-image:nth-child(7) {
  grid-column: 1/3;
}
.gallery-image:last-child {
  grid-column: 3/5;
}
.gallery .gallery-image:hover img {
  transform: scale(1.1);
}
.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1023.98px) {
  .gallery-body {
    padding: 2rem;
  }
  .gallery-image:nth-child(2) {
    grid-row: 1/span 1;
    grid-column: 3/span 2;
  }
  .gallery-image:nth-child(3) {
    grid-row: 2/span 2;
    grid-column: 1/span 2;
  }
  .gallery-image:nth-child(6) {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 767.98px) {
  .gallery-image:nth-child(4) {
    grid-column: 3/span 2;
  }
  .gallery-image:nth-child(5) {
    grid-column: 1/-1;
  }
}

.hero .box-test {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.hero #gallery-carousel {
  /* Dynamic Class */
}
.hero #gallery-carousel .list {
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.hero #gallery-carousel .item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero #gallery-carousel .item img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  display: block;
}
.hero #gallery-carousel .btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1000;
}
.hero #gallery-carousel .btn-left {
  left: 10px;
}
.hero #gallery-carousel .btn-right {
  right: 10px;
}
.hero #gallery-carousel .btn i {
  font-size: 50px;
  color: #3b71fe;
}
.hero #gallery-carousel .hidden {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
