.detail {
  margin-top: 5rem;
  &-content {
    width: 65%;
  }
  &-heading {
    font-size: 3rem;
    color: #232323;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &-info {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
  &-rating {
    display: flex;
    align-items: center;
    gap: 0 1rem;
  }
  &-rating__star i {
    color: #ffb21d;
  }
  &-rating__comment {
    font-size: 1.4rem;
    color: #727272;
  }
  &-place {
    display: block;
    position: relative;
    padding-left: 2rem;
    &::before {
      content: "";
      width: 5px;
      height: 5px;
      background-color: #727272;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      margin-left: -0.5rem;
    }
  }
  &-view {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #eaeef3;
  }
  &-item {
    display: flex;
    width: 25%;
    gap: 0 1.5rem;
  }
  &-icon {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
    border-radius: 1rem;
  }
  &-context {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    span {
      font-weight: bold;
    }
    span:last-child {
      font-weight: 300;
    }
  }
  &-about__heading {
    font-size: 3.6rem;
    color: #232323;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  &-about__desc {
    font-size: 1.6rem;
    color: #727272;
    line-height: 1.6;
  }
  &-highlights {
    margin-top: 3rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #dedede;
  }
  &-highlights__heading,
  &-include__heading {
    font-size: 2.6rem;
    color: #232323;
    font-weight: bold;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  &-highlights__item {
    position: relative;
    font-size: 1.4rem;
    color: #5e6d77;
    line-height: 1.6;
    margin-bottom: 2rem;
    padding-left: 2rem;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid #5191fa;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-include__heading {
    text-transform: none;
  }
  &-include__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-include__left-item,
  &-include__right-item {
    margin-bottom: 1.6rem;
  }
  &-include__left-item i,
  &-include__right-item i {
    background: #cef2e5;
    color: #10ac58;
    padding: 5px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &-include__right-item i {
    background: #fad6d6;
    color: #da3838;
    padding: 5px 8px;
  }
}
