.stories {
  background-color: #f7f8fa;
  padding: 3rem 0;
  &-body {
    margin-top: 3rem;
  }
  &-cards {
    display: flex;
    align-items: center;
    margin-left: -2rem;
  }
  &-card {
    width: calc(25% - 2rem);
    margin-left: 2rem;
    transition: all 0.3s ease-in;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &-images {
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
  }
  &-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    border-radius: 2rem 2rem 0 0;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-content {
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(#000, 0.1);
  }
  &-heading {
    font-size: 1.8rem;
    color: #232323;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
    & a {
      color: inherit;
    }
  }
  &-desc {
    font-size: 1.6rem;
    color: #727272;
    line-height: 1.625;
  }
  // Responsive
  @include maxWidth(1023.98px) {
    .section-top {
      padding: 2rem;
    }
    &-cards {
      flex-wrap: wrap;
      margin-left: -1.5rem;
      padding: 2rem;
    }
    &-card {
      width: calc(50% - 1.5rem);
      margin-left: 1.5rem;
      margin-top: 1.5rem;
    }
  }
  @include maxWidth(767.98px) {
    &-body {
      margin-top: 1.5rem;
    }
    .section-top__heading {
      width: 100%;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 0;
    }
    .section-icons {
      display: none;
    }
    &-cards {
      display: block;
      margin-left: 0;
    }
    &-card {
      width: 100%;
      margin-left: 0;
    }
  }
}
